/* Accessibility Styles */
.a11yHidden,
legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 초기화 및 기본 세팅 */
body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 14px;
  color: #181818;
}

body, ul, h3, figure {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type : none;
}

a {
  text-decoration: none;
  color: #181818;
  display: block;
}

/* 뉴스 섹션 */
.news {
  width: 380px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  row-gap: 12px;
}

/* 뉴스 타이틀 */
.newsTitle {
  font-size: 14px;
  color: #ED552F;
  padding-bottom: 12px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border-bottom: 1px solid;
  border-image:linear-gradient(to right, #A9A9A9 0%, #fff 100%);
  border-image-slice: 1;
  grid-area: 1 / 1 / 2 / 8;
}

/* 더보기 */
.plusNews {
  text-align: right;
  grid-area: 1 / 9 / 2 / 11;
}

/* 뉴스 게시물 */
.news__ul {
  grid-area: 2 / 4 / 3 / 11;
  text-align: justify;
  padding-left: 15px;
}

.news_title {
  font-weight: bold;
  padding-bottom: 10px;
}

.news_date {
  padding-bottom: 12px;
}

/* 뉴스 게시물 이미지, 캡션 */
.news__figure {
  grid-area: 2 / 1 / 3 / 4;
}

.news__img {
  filter: drop-shadow(0px 10px 10px #aaa);
}

.imgCaption {
  padding-left: 20px;
  margin-top: 10px;
}